{% extends 'base.html' %}
{% block main %}

    <div id="content" class="site-content">
        <section class="page-header" style="">
            <div class="container">
                <div class="inner">
                    <div class="inner-content clearfix">
                        <div class="header-content">
                            <h1>About Us</h1>
                        </div>
                        <div class="ui breadcrumb breadcrumbs"><span><a title="Go to ecoupono."
                                                                        href="https://ecoupono.com" class="home"><span>ecoupono</span></a>
                                </span> &gt; <span><span class="post post-page current-item">About Us</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="content-wrap" class="container container-page right-sidebar">
            <div id="primary" class="content-area">
                <main id="main" class="site-main" role="main">
                    <div class="post-entry shadow-box content-box post-193 page type-page status-publish hentry">

                        <div class="bp-star-ratings  top-left lft" data-id="193">
                            <div class="bpsr-stars bpsr-star gray">
                                <div class="bpsr-fuel bpsr-star yellow" style="width:0%;"></div>
                                <!-- bpsr-fuel --><a href="#1"></a><a href="#2"></a><a href="#3"></a><a href="#4"></a><a
                                    href="#5"></a>
                            </div>
                            <!-- bpsr-stars -->
                            <div class="bpsr-legend">
                                <div itemscope itemtype="https://schema.org/Product"><span itemprop="name"
                                                                                           class="bpsr-title">About Us</span>
                                    <link itemprop="image" href="#"/>
                                    <meta itemprop="mpn" content="193"/>
                                    <meta itemprop="description" content="About Us"/>
                                    <span itemprop="aggregateRating" itemscope
                                          itemtype="https://schema.org/AggregateRating"><span
                                            itemprop="ratingValue">5</span> / 5 ( <span itemprop="ratingCount">3</span> votes ) </span>
                                    <meta itemprop="sku" content="193"
                                    />
                                    <div itemprop="brand" itemtype="http://schema.org/Brand" itemscope>
                                        <meta itemprop="name" content="About Us"/>
                                    </div>
                                    <div itemprop="review" itemtype="http://schema.org/Review" itemscope>
                                        <div itemprop="author" itemtype="http://schema.org/Person" itemscope>
                                            <meta itemprop="name" content="R. Johsan"/>
                                        </div>
                                    </div>
                                    <div itemprop="offers" itemtype="http://schema.org/AggregateOffer" itemscope>
                                        <meta itemprop="lowPrice" content="0"/>
                                        <meta itemprop="highPrice" content="0"/>
                                        <meta itemprop="offerCount" content="6"/>
                                        <meta itemprop="priceCurrency" content="USD"/>
                                    </div>
                                </div>
                            </div>
                            <!-- bpsr-legend -->
                        </div>
                        <!-- bp-star-ratings -->

                        <p class="has-black-color has-text-color">Let's be realistic, online spending is a part of
                            modern life. But why not ensure that every online purchase you make is a smart one? Welcome
                            to <a href="{% url 'home' %}">Coupon Haven</a>, where we're dedicated to helping you make informed and economical shopping
                            decisions. Our team tirelessly scours the vast expanse of the internet to unearth the very
                            best coupons, deals, and offers from popular stores in the United States and the United
                            Kingdom, all for your benefit.

                            No matter what you're in the market for or which brands you favor, <a href="{% url 'home' %}">Coupon Haven</a> is your
                            go-to source for finding the perfect coupon. Once you've found your desired deal, it's as
                            easy as a click. The coupon code is swiftly and automatically copied to your device, waiting
                            for you to apply it when you purchase your favorite products or services. Even if you're
                            uncertain about how to make the most of the coupons you've gathered from <a href="{% url 'home' %}">Coupon Haven</a>, fear
                            not! We provide a convenient guide to help you maximize your savings.

                            So, stick with <a href="{% url 'home' %}">Coupon Haven</a> and let us make your online shopping experience not only more
                            cost-effective but also more user-friendly.</p>
                    </div>
                </main>
                <!-- #main -->
            </div>
            <!-- #primary -->

            <div id="secondary" class="widget-area sidebar" role="complementary">
                <aside id="block-5" class="widget widget_block">
                    <div class="wp-block-group is-layout-flow wp-block-group-is-layout-flow">
                        <div class="wp-block-group__inner-container">
                            <h2 class="wp-block-heading">Archives</h2>


                            <ul class="wp-block-archives-list wp-block-archives">
                                <li><a href='https://ecoupono.com/2022/09/'>September 2022</a></li>
                                <li><a href='https://ecoupono.com/2021/07/'>July 2021</a></li>
                            </ul>
                        </div>
                    </div>
                </aside>
                <aside id="block-6" class="widget widget_block">
                    <div class="wp-block-group is-layout-flow wp-block-group-is-layout-flow">
                        <div class="wp-block-group__inner-container">
                            <h2 class="wp-block-heading">Categories</h2>


                            <ul class="wp-block-categories-list wp-block-categories">
                                <li class="cat-item cat-item-2"><a
                                        href="https://ecoupono.com/category/fashion/">Fashion</a>
                                </li>
                                <li class="cat-item cat-item-3"><a href="https://ecoupono.com/category/gift/">Gift</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </aside>
                <aside id="archives-1" class="widget widget_archive">
                    <h4 class="widget-title">Archives</h4>
                    <ul>
                        <li><a href='https://ecoupono.com/2022/09/'>September 2022</a></li>
                        <li><a href='https://ecoupono.com/2021/07/'>July 2021</a></li>
                    </ul>

                </aside>
                <aside id="categories-2" class="widget widget_categories">
                    <h4 class="widget-title">Categories</h4>
                    <ul>
                        <li class="cat-item cat-item-2"><a href="https://ecoupono.com/category/fashion/">Fashion</a>
                        </li>
                        <li class="cat-item cat-item-3"><a href="https://ecoupono.com/category/gift/">Gift</a>
                        </li>
                    </ul>

                </aside>
                <aside id="meta-1" class="widget widget_meta">
                    <h4 class="widget-title">Meta</h4>
                    <ul>
                        <li><a rel="nofollow" href="https://ecoupono.com/wp-login.php">Log in</a></li>
                        <li><a href="https://ecoupono.com/feed/">Entries feed</a></li>
                        <li><a href="https://ecoupono.com/comments/feed/">Comments feed</a></li>

                        <li><a href="https://wordpress.org/">WordPress.org</a></li>
                    </ul>

                </aside>
            </div>
        </div>
        <!-- /#content-wrap -->

    </div>
    <!-- END .site-content -->
{% endblock %}