{% extends 'base.html' %}
{% block main %}
    <div id="content" class="site-content">
        <section class="page-header" style="">
            <div class="container">
                <div class="inner">
                    <div class="inner-content clearfix">
                        <div class="header-content">
                            <h1>Categories</h1>
                        </div>
                        <div class="ui breadcrumb breadcrumbs"><span><a title="Go to ecoupono."
                                                                        href="https://ecoupono.com" class="home"><span>ecoupono</span></a>
                                </span> &gt; <span><span class="post post-page current-item">Categories</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="content-wrap" class="container no-sidebar">
            <div id="primary" class="content-area">
                <main id="main" class="site-main cat-page-with-icon" role="main">
                    <div class="content-box shadow-box">
                        <div class=" column stackable ui grid cate-az">
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/animals-and-pet-supplies/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular paw icon"></i> Animals &amp; Pet Supplies
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/apparel-and-accessories/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular shopping bag icon"></i> Apparel &amp; Accessories
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/arts-and-entertainment/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular music icon"></i> Arts &amp; Entertainment
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/baby-and-toddler/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular gamepad icon"></i> Baby &amp; Toddler
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/business-and-industrial/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular building icon"></i> Business &amp; Industrial
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/cameras-and-optics/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular camera icon"></i> Cameras &amp; Optics
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/cosmetics-skincare/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        Cosmetics &amp; Skincare
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/coupons/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular tags icon"></i> Coupons
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/credit-card/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular credit card icon"></i> Credit Card
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/deals/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular handshake outline icon"></i> Deals
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/electronics/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular tv icon"></i> Electronics
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/fashion/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular black tie icon"></i> Fashion
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/food-beverages-and-tobacco/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular glass martini icon"></i> Food, Beverages &amp; Tobacco
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/fragrance/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        Fragrance
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/furniture/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular bed icon"></i> Furniture
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/gift/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular gift icon"></i> Girfts, Jewellery &amp; Accessories
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/haircare/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <span class="cat-az-thumb"><img
                                                src="https://ecoupono.com/wp-content/uploads/2023/01/Untitled-design-2-1.jpg"
                                                alt=" "></span> Haircare
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/hardware/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular wrench icon"></i> Hardware
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/health-and-beauty/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular user md icon"></i> Health &amp; Beauty
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/heating-plumbing/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        Heating &amp; plumbing
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/home-and-garden/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular home icon"></i> Home &amp; Garden
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/internet-service/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular globe icon"></i> Internet Service
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/luggage-and-bags/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular shopping bag icon"></i> Luggage &amp; Bags
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/media/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular video icon"></i> Media
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/mobile-apps/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular mobile alternate icon"></i> Mobile Apps
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/money-and-banking/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular money bill alternate outline icon"></i> Money &amp; Banking
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/office-supplies/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular building outline icon"></i> Office Supplies
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/printable/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular print icon"></i> Printable
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/religious-and-ceremonial/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular gavel icon"></i> Religious &amp; Ceremonial
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/restaurant/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular utensils icon"></i> Restaurant
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/security/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular lock icon"></i> Security
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/service/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular cogs icon"></i> Service
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/software/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular laptop icon"></i> Software
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/sporting-goods/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular futbol icon"></i> Sporting Goods
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/subscription/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular hand point up outline icon"></i> Subscription
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/tool-and-equipment/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        Tool and Equipment
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/toys-and-games/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular futbol outline icon"></i> Toys &amp; Games
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/travel/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular plane icon"></i> Travel
                                    </li>
                                </a>
                            </ul>
                            <ul class="cate-item column">
                                <a href="https://ecoupono.com/coupon-category/vehicles-and-parts/"
                                   class="category-name category-parent">
                                    <li class="cate-parent">
                                        <i class="circular car icon"></i> Vehicles &amp; Parts
                                    </li>
                                </a>
                            </ul>
                        </div>
                    </div>

                </main>
                <!-- #main -->
            </div>
            <!-- #primary -->

        </div>
        <!-- /#content-wrap -->

    </div>
    <!-- END .site-content -->
{% endblock %}