{% extends 'base.html' %}
{% block main %}
    <div id="content" class="site-content">
        <section class="page-header" style="">
            <div class="container">
                <div class="inner">
                    <div class="inner-content clearfix">
                        <div class="header-content">
                            <h1>Categories</h1>
                        </div>
                        <div class="ui breadcrumb breadcrumbs"><span><a title="Go to Coupan Haven"
                                                                        href="{% url 'home' %}" class="home"><span>Coupan Haven</span></a>
                                </span> &gt; <span><span class="post post-page current-item">Categories</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="content-wrap" class="container no-sidebar">
            <div id="primary" class="content-area">
                <main id="main" class="site-main cat-page-with-icon" role="main">
                    <div class="content-box shadow-box">
                        <div class=" column stackable ui grid cate-az">
                            {% for category in categories %}
                                <ul class="cate-item column">
                                    <a href="#"
                                       class="category-name category-parent">
                                        <li class="cate-parent">
                                            <i class="circular {{ category.icon }}">{{ category.name }}</i>
                                        </li>
                                    </a>
                                </ul>
                            {% endfor %}
                        </div>
                    </div>

                </main>
                <!-- #main -->
            </div>
            <!-- #primary -->

        </div>
        <!-- /#content-wrap -->

    </div>
    <!-- END .site-content -->
{% endblock %}