{% extends 'base.html' %}
{% block main %}
    <div id="content" class="site-content">
        <div id="content-wrap" class="container left-sidebar">
            <div id="primary" class="content-area">
                <main id="main" class="site-main coupon-cat-main ajax-coupons" role="main">

                    <section id="store-listings-wrapper" class="st-list-coupons wpb_content_element">
                        <h1><strong>Deals</strong> Coupons &amp; Promo Codes</h1>
                        <div class="share-option">
                            {#                            <div class="entry-share">#}
                            {#                                <div class="skin skin_flat">#}
                            {#                                    <div class="social-likes social-likes_single">#}
                            {#                                        <div class="facebook" title="Share link on Facebook">Facebook</div>#}
                            {#                                        <div class="twitter" title="Share link on Twitter">Twitter</div>#}
                            {#                                        <div class="pinterest" title="Share image on Pinterest" data-media="">#}
                            {#                                            Pinterest#}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </div>#}
                        </div>
                        <section class="coupon-filter" id="couponcat-filter-bar">
                            <div data-target="#coupon-listings-store"
                                 class="filter-coupons-by-type pointing filter-coupons-buttons">
                                <div class="coupons-types-wrap">
                                    <div class="hide couponlist-smallscreen-info">
                                        <div class="ui floating dropdown labeled inline icon button tiny">
                                            <i class="sliders horizontal icon"></i>
                                            <span class="text store-filter-button">
							All							<span class="offer-count all-count">
								{{ total_count }}							</span>
                                                </span>
                                            <div class="menu">
                                                <a href="#"
                                                   class="store-filter-button item filter-nav" data-filter="all">All
                                                    <span
                                                            class="offer-count all-count">{{ total_count }}</span></a>
                                                <a href="#"
                                                   class="store-filter-button item filter-nav" data-filter="code">Codes
                                                    <span
                                                            class="offer-count code-count">{{ code_count }}</span></a>
                                                <a href="#"
                                                   class="store-filter-button item filter-nav" data-filter="sale">Deals
                                                    <span
                                                            class="offer-count sale-count">{{ deal_count }}</span></a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="coupon-types-list">
                                        <a href=""
                                           class="store-filter-button ui button tiny filter-nav current"
                                           data-filter="all">All <span
                                                class="offer-count all-count">{{ total_count }}</span></a>
                                        <a href=""
                                           class="store-filter-button ui button tiny filter-nav " data-filter="code">Codes
                                            <span
                                                    class="offer-count code-count">{{ code_count }}</span></a>
                                        <a href=""
                                           class="store-filter-button ui button tiny filter-nav " data-filter="sale">Deals
                                            <span
                                                    class="offer-count sale-count">{{ deal_count }}</span></a>

                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="cat-coupon-lists" id="cat-coupon-lists">
                            {% for coupon in coupons %}
                                <div data-id="{{ coupon.id }}"
                                     class="coupon-item store-listing-item has-thumb c-cat c-type-sale shadow-box coupon-live">
                                    <div class="store-thumb-link">
                                        <div class="store-thumb thumb-img">
                                            <a class="thumb-padding" href="{% url 'store-detail' coupon.store.id %}">
                                                <img width="160" height="160"
                                                     src="{{ coupon.store.image.url }}"
                                                     class="attachment-wpcoupon_medium-thumb size-wpcoupon_medium-thumb"
                                                     alt="" decoding="async" title="logo" loading="lazy"
                                                     sizes="(max-width: 160px) 100vw, 160px"/> </a>
                                        </div>
                                        <div class="store-name"><a
                                                href="{% url 'store-detail' coupon.store.id %}">{{ coupon.store.name }}
                                            Coupons<i class="angle right icon"></i></a></div>
                                    </div>

                                    <div class="latest-coupon">
                                        <h3 class="coupon-title">
                                            <a class="coupon-link" title="{{ coupon.name }}" data-type="sale"
                                               data-coupon-id="{{ coupon.id }}" data-aff-url="{{ coupon.deep_link }}"
                                               data-code=""
                                               href="#">{{ coupon.slug }}</a>
                                        </h3>
                                        <div class="coupon-des">
                                            <div class="coupon-des-ellip">{{ coupon.description|wordwrap:7|slice:":"|safe }}<span
                                                    class="c-actions-span">...<a class="more"
                                                                                 href="#">More</a></span></div>
                                            <div class="coupon-des-full">
                                                <p class="offer-description"
                                                   data-description="">{{ coupon.description }}</p>
                                                <p><a class="more less" href="#">Less</a></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="coupon-detail coupon-button-type">
                                        <a rel="nofollow" data-type="sale" data-coupon-id="{{ coupon.id }}"
                                           data-aff-url="{{ coupon.deep_link }}"
                                           class="coupon-deal coupon-button"
                                           href="#">Get
                                            Deal <i
                                                    class="shop icon"></i></a>
                                        <div class="clear"></div>

                                        <div class="exp-text">
                                            Expires {{ coupon.expires_at }} <a data-position="top center"
                                                                               data-inverted=""
                                                                               data-tooltip="Save this coupon" href="#"
                                                                               data-coupon-id="{{ coupon.id }}"
                                                                               class="add-coupon-favorite coupon-save icon-popup"><i
                                                class="outline star icon"></i></a>
                                        </div>

                                    </div>
                                    <div class="clear"></div>
                                    <!-- Coupon Modal -->
                                    <div data-modal-id="1590" class="ui modal coupon-modal coupon-code-modal">
                                        <div class="scrolling content">
                                            <div class="coupon-header clearfix">
                                                <div class="coupon-store-thumb">
                                                    <img width="160" height="160"
                                                         src="https://ecoupono.com/wp-content/uploads/2023/08/logo.webp"
                                                         class="attachment-wpcoupon_medium-thumb size-wpcoupon_medium-thumb"
                                                         alt="" decoding="async" title="logo" loading="lazy"
                                                         srcset="https://ecoupono.com/wp-content/uploads/2023/08/logo.webp 160w, https://ecoupono.com/wp-content/uploads/2023/08/logo-150x150.webp 150w, https://ecoupono.com/wp-content/uploads/2023/08/logo-115x115.webp 115w"
                                                         sizes="(max-width: 160px) 100vw, 160px"/></div>
                                                <div class="coupon-title" title="Save on Things to Do in NYC">Save on
                                                    Things
                                                    to Do in NYC
                                                </div>
                                                <span class="close icon"></span>
                                            </div>
                                            <div class="coupon-content">
                                                <p class="coupon-type-text">
                                                    Deal Activated, no coupon code required! </p>
                                                <div class="modal-code">
                                                    <a class="ui button btn btn_secondary deal-actived" target="_blank"
                                                       rel="nofollow" href="https://ecoupono.com/out/1590">Go To Store<i
                                                            class="angle right icon"></i></a>
                                                </div>
                                                <div class="clearfix">
                                                    <div class="user-ratting">
                                                        <div class="ui icon basic buttons">
                                                            <div class="ui button icon-popup coupon-vote"
                                                                 data-vote-type="up" data-coupon-id="1590"
                                                                 data-position="top center" data-inverted=""
                                                                 data-tooltip="This worked"><i
                                                                    class="smile outline icon"></i></div>
                                                            <div class="ui button icon-popup coupon-vote"
                                                                 data-vote-type="down" data-coupon-id="1590"
                                                                 data-position="top center" data-inverted=""
                                                                 data-tooltip="It didn&#039;t work"><i
                                                                    class="frown outline icon"></i></div>
                                                            <div class="ui button icon-popup coupon-save"
                                                                 data-coupon-id="1590" data-position="top center"
                                                                 data-inverted="" data-tooltip="Save this coupon"><i
                                                                    class="outline star icon"></i></div>
                                                        </div>
                                                        <div class="user-ratting-text">Did it work?</div>
                                                    </div>

                                                    <div class="go-store">
                                                        <div class="go-to-btn">
                                                        </div>
                                                        <div class="show-detail"><a href="#">Coupon Detail<i
                                                                class="angle down icon"></i></a></div>
                                                    </div>

                                                </div>
                                                <div class="coupon-popup-detail">
                                                    <div class="coupon-detail-content">
                                                        <p class="offer-description" data-description="">Save big on
                                                            tours,
                                                            shows, dinner, and more in NYC.</p>
                                                    </div>
                                                    <p><strong>Expires</strong>: Expires September 30, 2023</p>
                                                    <p><strong>Submitted</strong>: 3 weeks ago </p>
                                                </div>
                                            </div>
                                            <div class="coupon-footer">
                                                <ul class="clearfix">
                                                    <li><span><i class="wifi icon"></i> 0 Used - 0 Today</span></li>
                                                    <li class="modal-share">
                                                        <a class="" href="#"><i class="share alternate icon"></i> Share</a>
                                                        <div class="share-modal-popup ui popup top right transition hidden---">
                                                            <a class='tiny ui facebook button'
                                                               onClick="window.open('https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fecoupono.com%2Fstore%2Fviator%2Fsave-on-things-to-do-in-nyc%2F','sharer','toolbar=0,status=0,width=548,height=325'); return false;"
                                                               href="javascript: void(0)"><i class="facebook icon"></i>
                                                                Facebook</a>
                                                            <a
                                                                    class='tiny ui twitter button' target="_blank"
                                                                    onClick="window.open('https://twitter.com/intent/tweet?text=Save+on+Things+to+Do+in+NYC+https%3A%2F%2Fecoupono.com%2Fstore%2Fviator%2Fsave-on-things-to-do-in-nyc%2F','sharer','toolbar=0,status=0,width=548,height=325'); return false;"
                                                                    href="javascript: void(0)"><i
                                                                    class="twitter icon"></i>
                                                                Twitter</a>
                                                        </div>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </section>
                    {% if coupons.has_next %}
                        <div class="couponcat-pagination-wrap" id="couponcat-pagination-wrap">
                            <div class="couponcat-load-more wpb_content_elementcouponcat-load-more wpb_content_element">
                                <a href="{% url 'coupans_page' coupons.next_page_number %}"
                                   class="ui button btn btn_primary btn_large" id="load-more-btn"
                                   data-loading-text="Loading...">Load More Coupons <i
                                        class="fa fa-arrow-alt-circle-down"></i></a>
                            </div>
                        </div>
                    {% endif %}
                </main>
                <!-- #main -->
            </div>
            <!-- #primary -->

            <div id="secondary" class="widget-area sidebar category-sidebar" role="complementary">
                <div class="inner shadow-box">
                    <div class="inner-content clearfix">
                        <div class="header-thumb">
                            <div class="ui center aligned icon">
                                <img src="https://ecoupono.com/wp-content/uploads/2021/06/Deals-Categories-Image-300x173.png"
                                     alt=" "></div>
                        </div>
                    </div>
                </div>

                <!--  Available  -->
                <div class="cat_coupon_available">
                        <span>
            <b> {{ total_count }}+ </b>
        </span>
                    <p>COUPONS AVAILABLE</p>
                </div>


{#                <aside class="widget widget_coupon_cat_filter">#}
{#                    <h4 class="widget-title">Filter</h4>#}
{#                    <div class="shadow-box">#}
{#                        <input type="hidden" class="store_base_pagenum_url" name="store_base_pagenum_url"#}
{#                               value="https://ecoupono.com/coupon-category/deals/"/>#}
{#                        <input type="hidden" class="store_pagenum_url" name="store_pagenum_url"#}
{#                               value="https://ecoupono.com/coupon-category/deals/"/>#}
{#                        <input type="hidden" class="store_next_pagenum_url" name="store_next_pagenum_url"#}
{#                               value="https://ecoupono.com/coupon-category/deals/page/2/"/>#}
{##}
{#                        <div class="couponcat-sortby-wrapper ui list">#}
{#                            <h5>Sort by</h5>#}
{#                            <div class="item">#}
{#                                <label for="store-sortby-newest">#}
{#                                    <input id="store-sortby-newest" checked='checked' type="radio"#}
{#                                           class="coupon-cat-sortby sortby-newest" name="coupon-cat-sortby"#}
{#                                           value="newest"/>#}
{#                                    <span class="filter-sortby-name">Newest</span>#}
{#                                </label>#}
{#                            </div>#}
{##}
{#                            <div class="item">#}
{#                                <label for="store-sortby-popularity">#}
{#                                    <input id="store-sortby-popularity" type="radio"#}
{#                                           class="coupon-cat-sortby sortby-popularity" name="coupon-cat-sortby"#}
{#                                           value="popularity"/>#}
{#                                    <span class="filter-sortby-name">Popularity</span>#}
{#                                </label>#}
{#                            </div>#}
{##}
{#                            <div class="item">#}
{#                                <label for="store-sortby-endingsoon">#}
{#                                    <input id="store-sortby-endingsoon" type="radio"#}
{#                                           class="coupon-cat-sortby sortby-ending-soon" name="coupon-cat-sortby"#}
{#                                           value="ending-soon"/>#}
{#                                    <span class="filter-sortby-name">Ending Soon</span>#}
{#                                </label>#}
{#                            </div>#}
{##}
{#                            <div class="item">#}
{#                                <label for="store-sortby-expired">#}
{#                                    <input id="store-sortby-expired" type="radio"#}
{#                                           class="coupon-cat-sortby sortby-expired" name="coupon-cat-sortby"#}
{#                                           value="expired"/>#}
{#                                    <span class="filter-sortby-name">Expired</span>#}
{#                                </label>#}
{#                            </div>#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                </aside>#}
            </div>


        </div>
        <!-- /#content-wrap -->

    </div>
    <!-- END .site-content -->
{% endblock %}