{% extends 'base.html' %}
{% block main %}


    <div id="content" class="site-content">
        <section class="page-header" style="">
            <div class="container">
                <div class="inner">
                    <div class="inner-content clearfix">
                        <div class="header-content">
                            <h1>All Stores</h1>
                        </div>
                        <div class="ui breadcrumb breadcrumbs"><span><a title="Go to ecoupono."
                                                                        href="{% url 'home' %}"
                                                                        class="home"><span>Coupan Haven</span></a>
                                </span> &gt; <span><span class="post post-page current-item">All Stores</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="content-wrap" class="container no-sidebar">
            <div id="primary" class="content-area stores-page">
                <main id="main" class="site-main store-page" role="main">

                    <div class="content-box shadow-box">
                        <section class="browse-store stackable ui grid">
                            <div class="wide store-listing-width">
                                <div class="ui fluid store-pagination">
                                    <a class="item" href="#character-A">A</a><a class="item" href="#character-B">B</a><a
                                        class="item" href="#character-C">C</a><a class="item"
                                                                                 href="#character-D">D</a><a
                                        class="item" href="#character-E">E</a><a class="item"
                                                                                 href="#character-F">F</a><a
                                        class="item"
                                        href="#character-H">H</a><a
                                        class="item" href="#character-I">I</a><a class="item"
                                                                                 href="#character-J">J</a><a
                                        class="item" href="#character-K">K</a><a class="item" href="#character-L">L</a>
                                    <a
                                            class="item" href="#character-M">M</a><a class="item"
                                                                                     href="#character-N">N</a><a
                                        class="item" href="#character-O">O</a><a class="item"
                                                                                 href="#character-P">P</a><a
                                        class="item" href="#character-R">R</a><a class="item" href="#character-S">S</a>
                                    <a
                                            class="item" href="#character-T">T</a><a class="item"
                                                                                     href="#character-U">U</a><a
                                        class="item" href="#character-V">V</a><a class="item"
                                                                                 href="#character-W">W</a><a
                                        class="item" href="#character-X">X</a><a class="item" href="#character-Z">Z</a>
                                    <a
                                            class="item" href="#character-0-9">0-9</a>
                                </div>
                            </div>
                            <div class="twelve wide">
                                <div class="store-listing">

                                    {% for letter, stores in store_groups %}
                                        <div id="character-{{ letter }}" class="store-a store-listing-box">
                                            <div class="store-letter-heading">
                                                <h2 class="section-heading">Stores - {{ letter }}</h2>
                                            </div>
                                            <div class="store-icon-content">
                                                <ul class="clearfix ui four column grid">
                                                    {% for store in stores %}
                                                        <li class="column">
                                                            <a class="store-thumb"
                                                               href="{% url 'store-detail' store.id %}">
                                                                <img width="193" height="50"
                                                                     src="{{ store.image.url }}"
                                                                     class="attachment-wpcoupon_small_thumb size-wpcoupon_small_thumb"
                                                                     alt="" decoding="async" title="Picture5"
                                                                     loading="lazy"/>
                                                                <div class="str-title">{{ store.name }}</div>
                                                            </a>
                                                        </li>
                                                    {% endfor %}

                                                </ul>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </section>
                    </div>
                </main>
                <!-- #main -->
            </div>
            <!-- #primary -->


        </div>
        <!-- /#content-wrap -->

    </div>
    <!-- END .site-content -->
{% endblock %}