{% extends 'base.html' %}
{% block main %}
    <!-- END #masthead -->
    <div id="content" class="site-content">

        <div id="content-wrap" class="container left-sidebar">
            <div id="primary" class="content-area">
                <main id="main" class="site-main coupon-store-main" role="main">
                    <h1><strong>{% for store in stores %}{{ store.name }}{% endfor %}</strong> Coupons & Promo Codes
                    </h1>
                    <div class="share-option">
                        <div class="entry-share">
                            <div class="skin skin_flat">
                                <div class="social-likes social-likes_single">
                                    <div class="facebook" title="Share link on Facebook">Facebook</div>
                                    <div class="twitter" title="Share link on Twitter">Twitter</div>
                                    <div class="pinterest" title="Share image on Pinterest" data-media="">Pinterest
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="coupon-filter" id="coupon-filter-bar">
                        <div data-target="#coupon-listings-store"
                             class="filter-coupons-by-type pointing filter-coupons-buttons">
                            <div class="coupons-types-wrap">
                                <div class="hide couponlist-smallscreen-info">
                                    <div class="ui floating dropdown labeled inline icon button tiny">
                                        <i class="sliders horizontal icon"></i>
                                        <span class="text store-filter-button">
							All							<span class="offer-count all-count">
								33							</span>
                                            </span>
                                        <div class="menu">
                                            <a href=""
                                               class="store-filter-button item filter-nav" data-filter="all">All <span
                                                    class="offer-count all-count">{{ total_count }}</span></a>
                                            <a href=""
                                               class="store-filter-button item filter-nav" data-filter="code">Codes
                                                <span
                                                        class="offer-count code-count">{{ code_count }}</span></a>
                                            <a href=""
                                               class="store-filter-button item filter-nav" data-filter="sale">Deals
                                                <span
                                                        class="offer-count sale-count">{{ deal_count }}</span></a>

                                        </div>
                                    </div>
                                </div>
                                <div class="coupon-types-list">
                                    <a href=""
                                       class="store-filter-button ui button tiny filter-nav current" data-filter="all">All
                                        <span
                                                class="offer-count all-count">{{ total_count }}</span></a>
                                    <a href=""
                                       class="store-filter-button ui button tiny filter-nav " data-filter="code">Codes
                                        <span
                                                class="offer-count code-count">{{ code_count }}</span></a>
                                    <a href=""
                                       class="store-filter-button ui button tiny filter-nav " data-filter="sale">Deals
                                        <span
                                                class="offer-count sale-count">{{ deal_count }}</span></a>

                                </div>
                            </div>
                            {#                            <a href="#" class="tiny button ui btn_primary submit-coupon-button">Submit a coupon</a>#}
                        </div>
                    </section>

                    <section id="coupon-listings-store" class=" wpb_content_element">
                        <div class="ajax-coupons">
                            <div class="store-listings st-list-coupons couponstore-tpl-full">
                                {% for coupan in coupons %}
                                    <div data-id="{{ coupan.id }}"
                                         class="coupon-item has-thumb store-listing-item c-type-sale coupon-listing-item shadow-box coupon-expired">
                                        <div class="store-thumb-link">
                                            <div class="store-thumb text-thumb">
                                                <span class="thumb-padding">
				{{ coupan.name }}			</span>
                                            </div>
                                        </div>

                                        <div class="latest-coupon">
                                            <h3 class="coupon-title">
                                                <a title="{{ coupan.slug }}"
                                                   class="coupon-link" data-type="sale" data-coupon-id="{{ coupan.id }}"
                                                   data-aff-url="{{ coupan.deeplink }}" data-code="EARNPOINTS"
                                                        {% if coupan.is_deal is True %}
                                                   href=""
                                                        {% else %}
                                                   href="{% url 'coupan-detail' coupan.id %}"
                                                        {% endif %}
                                                >FREE
                                                    {{ coupan.slug }}</a></h3>
                                            <div class="c-type">
                                                {% if coupan.is_deal is True %}
                                                    <span class="c-code c-sale">Deal</span>
                                                {% else %}
                                                    <span class="c-code c-sale">Coupan</span>
                                                {% endif %}
                                                {% if coupon.expires_at < now %}
                                                    <span class="exp has-expired">Expired</span>
                                                {% else %}
                                                    <span class="exp has-expired">Active</span>
                                                {% endif %}
                                            </div>
                                            <div class="coupon-des">
                                                <div class="coupon-des-ellip"></div>

                                            </div>
                                        </div>

                                        <div class="coupon-detail coupon-button-type">
                                            {% if coupan.is_deal is True %}
                                                <a rel="nofollow" data-type="sale" data-coupon-id="{{ coupan.id }}"
                                                   data-aff-url="{{ coupan.deeplink }}"
                                                   class="coupon-deal coupon-button"
                                                   href="#">Get
                                                    Deal
                                                    <i class="shop icon"></i></a>
                                            {% else %}
                                                <a rel="nofollow" data-type="code" data-coupon-id="{{ coupan.id }}"
                                                   href="{% url 'coupan-detail' coupan.id %}"
                                                   class="coupon-button coupon-code"
                                                   data-tooltip="Click to Copy &amp; Open Site"
                                                   data-position="top center"
                                                   data-inverted=""
                                                   data-code="{{ coupan.coupon_code }}"
                                                   data-aff-url="{{ coupan.deeplink }}">
                                                    <span class="code-text"
                                                          rel="nofollow">{{ coupan.coupon_code }}</span>
                                                    <span class="get-code">Get Code</span>
                                                </a>
                                            {% endif %}
                                            <div class="clear"></div>

                                            <span class="voted-value">100% Success</span>
                                        </div>
                                        <div class="clear"></div>
                                        <div class="coupon-exclusive"><strong><i
                                                class="protect icon"></i>Exclusive:</strong> This coupon can only be
                                            found
                                            at our website.
                                        </div>
                                        <div class="coupon-footer coupon-listing-footer">
                                            <ul class="clearfix">
                                                <li><span><i
                                                        class="wifi icon"></i> {{ coupan.clicks }} Used - 0 Today</span>
                                                </li>
                                                <li><a title="Share it with your friend" data-reveal="reveal-share"
                                                       href="#"><i class="share alternate icon"></i> Share</a></li>
                                                <li><a title="Send this coupon to an email" data-reveal="reveal-email"
                                                       href="#"><i class="mail outline icon"></i> Email</a></li>
                                                <li><a title="Coupon Comments" data-reveal="reveal-comments" href="#"><i
                                                        class="comments outline icon"></i> 0 Comments</a></li>
                                            </ul>
                                            <div data-coupon-id="256" class="reveal-content reveal-share">
                                                <span class="close"></span>

                                                <br>

                                            </div>

                                        </div>
                                        <!-- Coupon Modal -->

                                    </div>
                                {% endfor %}


                            </div>
                            <!-- END .store-listings -->
                            {% if coupons.has_next %}
                                {% for store in stores %}
                                    <div class="couponcat-load-more wpb_content_element couponcat-load-more wpb_content_element">
                                        <a href="{% url 'store-detail' pk=store.id  page=coupons.next_page_number %}"
                                           class="ui button btn btn_primary btn_large" id="load-more-btn"
                                           data-loading-text="Loading...">Load More Coupons <i
                                                class="fa fa-arrow-alt-circle-down"></i></a>
                                    </div>
                                {% endfor %}
                            {% endif %}

                        </div>
                        <!-- /.ajax-coupons -->
                    </section>
                </main>
                <!-- #main -->
            </div>
            <!-- #primary -->
            {% for store in stores %}
                <div id="secondary" class="widget-area sidebar store-sidebar" role="complementary">
                    <div class="header-thumb">
                        <div class="header-store-thumb">
                            <a rel="nofollow" target="_blank" title="{{ stores.name }}"
                               href="{{ store.deepLink }}">
                                <img width="200" height="48"
                                     src="{{ store.image.url }}"
                                     class="attachment-wpcoupon_small_thumb size-wpcoupon_small_thumb" alt=""
                                     decoding="async" title="75a584aa-013d-47ea-aa55-ecbc5f031ad0" loading="lazy"

                                     sizes="(max-width: 200px) 100vw, 200px"/> </a>
                        </div>
                        <a class="add-favorite" data-id="64" href="#"><i class="outline heart icon"></i><span>Favorite This Store</span></a>

                    </div>

                    <!--  Available  -->
                    <div class="coupon_available">
                        <span>
            <b> {{ total_count }}+ </b>
        </span>
                        <p>COUPONS AVAILABLE</p>
                    </div>

                    <!--  Store Description  -->
                    <h4 class="store-about-title">About Sephora</h4>
                    <div class="inner">
                        <div class="inner-content clearfix">
                            <div class="header-content">
                                <p>{{ store.description }}</p>
                            </div>
                        </div>
                    </div>
                    <aside class="widget widget_store_cat_filter">
                        <h4 class="widget-title">Filter Store</h4>
                        <div class="shadow-box">
                            <div class="store-cat-filter-wrapper store-cat-filter ui list">
                                <h5>Categories</h5>

                                {% for category in categories %}
                                    <div class="item">
                                        <label for="store-cat-filter-{{ category.id }}">
                                            <input
                                                    id="store-cat-filter-{{ category.id }}"
                                                    type="checkbox"
                                                    class="wpcoupon-cat-filter-item store-filter-cat store-filter-cat-item"
                                                    name="wpcoupon_cat_filter" value="{{ category.name }}"
                                            />
                                            <span class="cat-filter-name">{{ category.name }}</span>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>


                            <div class="store-filter-sortby-wrapper ui list">
                                <h5>Sort by</h5>
                                <div class="item">
                                    <label for="store-sortby-newest">
                                        <input id="store-sortby-newest" checked='checked' type="radio"
                                               class="store-filter-sortby sortby-newest store-filter-cat-item"
                                               name="store-filter-sortby" value="newest"/>
                                        <span class="filter-sortby-name">Newest</span>
                                    </label>
                                </div>
                                <div class="item">
                                    <label for="store-sortby-popularity">
                                        <input id="store-sortby-popularity" type="radio"
                                               class="store-filter-sortby sortby-popularity store-filter-cat-item"
                                               name="store-filter-sortby" value="popularity"/>
                                        <span class="filter-sortby-name">Popularity</span>
                                    </label>
                                </div>
                                <div class="item">
                                    <label for="store-sortby-endingsoon">
                                        <input id="store-sortby-endingsoon" type="radio"
                                               class="store-filter-sortby sortby-ending-soon store-filter-cat-item"
                                               name="store-filter-sortby" value="ending-soon"/>
                                        <span class="filter-sortby-name">Ending Soon</span>
                                    </label>
                                </div>
                                <div class="item">
                                    <label for="store-sortby-expired">
                                        <input id="store-sortby-expired" type="radio"
                                               class="store-filter-sortby sortby-expired store-filter-cat-item"
                                               name="store-filter-sortby" value="expired"/>
                                        <span class="filter-sortby-name">Expired</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            {% endfor %}
            <!-- #secondary -->
        </div>
        <!-- /#content-wrap -->

    </div>
    <!-- END .site-content -->
{% endblock %}